body {
  background-color: transparent;
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
  overflow: hidden;
}

nav {
  width: 100%;
  height: 35px;
  background-color: #101010;
  color: white;
  font-weight: 200;
  -webkit-app-region: drag;
  position: fixed;
  top: 0;
  border-radius: 5px 5px 0 0;
  font-family: "Montserrat", "Lato", sans-serif;
}

body.translucent nav {
  background-color: rgba(0, 0, 0, 0.85);
}

nav .window-title {
  height: 100%;
  margin-left: 10px;
  display: inline-flex;
  align-items: center;
}

nav img {
  width: 15px;
  margin-right: 5px;
}

nav #close-button {
  flex-basis: 45px;
  width: 45px;
  border-top-right-radius: 5px;
  height: 100%;
  color: white;
  float: right;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: .2s;
  -webkit-app-region: no-drag;
}

nav #close-button:hover {
  background-color: #e0021f;
  transition: 0s;
}

nav #close-button #close-icon {
  background-image: url(assets/close.png);
  background-size: cover;
  width: 10px;
  height: 10px;
}

nav #resize-button {
  width: 45px;
  height: 100%;
  color: white;
  float: right;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: .2s;
  -webkit-app-region: no-drag;
}

nav #resize-button:hover, nav #minimize-button:hover {
  background-color: rgba(255, 255, 255, 0.1);
  transition: 0s;
}

nav #resize-button #resize-icon {
  background-image: url(assets/maximize.png);
  background-size: cover;
  width: 10px;
  height: 10px;
}

nav #minimize-button {
  width: 45px;
  height: 100%;
  color: white;
  float: right;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: .2s;
  -webkit-app-region: no-drag;
}

nav #minimize-button #minimize-icon {
  background-image: url(assets/minimize.png);
  background-size: cover;
  width: 10px;
  height: 1px;
}

nav #vr-mode-button {
  width: 45px;
  height: 100%;
  color: white;
  float: right;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: .2s;
  -webkit-app-region: no-drag;
}

nav #vr-mode-button #vr-mode-icon {
  background-image: url(assets/vr.png);
  background-size: cover;
  width: 20px;
  height: 20px;
}

nav #vr-mode-button:hover #vr-mode-icon {
  background-image: url(assets/vr-filled.png);
}

#options-bar {
  width: 100%;
  height: 50px;
  color: #ffffff;
  position: fixed;
  top: 35px;
  display: flex;
  align-items: center;
  background-color: #151515
}

body.translucent #options-bar {
  background-color: rgba(0, 0, 0, 0.8);
}

#options-bar #settings-button {
  width: 40px;
  height: 50px;
  background-size: 25px 25px;
  background-repeat: no-repeat;
  background-image: url(assets/settings.png);
  background-position: center center;
  cursor: pointer;
}

#options-bar #settings-button:hover, #settings-button.set {
  background-image: url(assets/settings-filled.png) !important;
}

#options-bar #refresh-button {
  width: 40px;
  height: 50px;
  background-size: 25px 25px;
  background-repeat: no-repeat;
  background-image: url(assets/refresh.png);
  background-position: center center;
  cursor: pointer;
}

#options-bar #refresh-button:hover {
  background-image: url(assets/refresh-filled.png);
}

#options-bar #sort-id {
  position: absolute;
  left: calc(0% + 275px);
  width: 50px;
  height: 30px;
  border: none;
  outline: none;
  background-color: rgba(255, 255, 255, 0.1);
  color: white;
  border-radius: 15px 0 0 15px;
  cursor: pointer;
  z-index: 1;
}

#options-bar #sort-top-dls {
  position: absolute;
  left: calc(0% + 275px);
  width: 110px;
  height: 30px;
  border: none;
  outline: none;
  background-color: rgba(255, 255, 255, 0.1);
  color: white;
  border-radius: 15px 0 0 15px;
  cursor: pointer;
  z-index: 1;
}

#options-bar #sort-top-plays {
  position: absolute;
  left: calc(0% + 385px);
  width: 80px;
  height: 30px;
  border: none;
  outline: none;
  background-color: rgba(255, 255, 255, 0.1);
  color: white;
  cursor: pointer;
  z-index: 1;
}

#options-bar #sort-new {
  position: absolute;
  left: calc(0% + 465px);
  width: 70px;
  height: 30px;
  border: none;
  outline: none;
  background-color: rgba(255, 255, 255, 0.1);
  color: white;
  border-radius: 0 15px 15px 0;
  cursor: pointer;
  z-index: 1;
}

.select-hidden {
  display: none;
  visibility: hidden;
  padding-right: 10px;
}

.select {
  position: absolute;
  left: calc(0% + 545px);
  width: 90px;
  height: 30px;
  border: none;
  outline: none;
  background-color: rgba(255, 255, 255, 0.1);
  color: white;
  border-radius: 15px 0 0 15px;
  cursor: pointer;
  font-family: 'Lato', sans-serif !important;
  font-size: 10pt;
  z-index: 1;
}

.select:hover {
  background-color: rgba(255, 255, 255, 0.15);
}

.select-styled {
  text-align: center;
  padding-top: 7px;
  padding-right: 9px;
}

.select-styled::after {
  content:"";
  width: 0;
  height: 0;
  border: 4px solid transparent;
  border-color: white transparent transparent transparent;
  position: absolute;
  top: 15px;
  right: 8px;
}

.select-options {
  display: none; 
  list-style: none;
  margin-left: -40px;
  margin-top: 11px;
}

.select-options li {
  text-align: center;
  padding-top: 5px;
  width: 90px;
  height: 25px;
  border: none;
  outline: none;
  background-color: rgba(255, 255, 255, 0.1);
  color: white;
  cursor: pointer;
  font-family: 'Lato', sans-serif !important;
  z-index: 1;
}

.select-options li:first-child {
  border-radius: 15px 15px 0 0;
}

.select-options li:last-child {
  border-radius: 0 0 15px 15px;
}

.select-options li:hover {
  background-color: rgba(255, 255, 255, 0.15);
}

#options-bar #sort-queue {
  position: absolute;
  left: calc(0% + 635px);
  width: 130px;
  height: 30px;
  border: none;
  outline: none;
  background-color: rgba(255, 255, 255, 0.1);
  color: white;
  border-radius: 0 15px 15px 0;
  cursor: pointer;
  z-index: 1;
}

#options-bar #page-indicator {
  color: white;
  position: absolute;
  left: calc(100% - 230px);
  width: 150px;
  text-align: right;
}

#options-bar #total-pages {
  color: white;
}

#options-bar #page-indicator::before {
  content: "Result ";
}

#options-bar #total-pages::before {
  content: " - ";
}

#options-bar button#prev-page {
  position: absolute;
  left: calc(100% - 70px);
  width: 30px;
  height: 30px;
  border: none;
  outline: none;
  background-color: rgba(255, 255, 255, 0.1);
  color: white;
  border-radius: 15px 0 0 15px;
  cursor: pointer;
}

#options-bar button#next-page {
  position: absolute;
  left: calc(100% - 40px);
  width: 30px;
  height: 30px;
  border: none;
  outline: none;
  background-color: rgba(255, 255, 255, 0.1);
  color: white;
  border-radius: 0 15px 15px 0;
  cursor: pointer;
}

#options-bar button:hover, #playlist-menu button:hover, #queue-menu button:hover, #settings button:hover, #search:focus, #search:hover, .sort.active {
  background-color: rgba(255, 255, 255, 0.15) !important;
}

#options-bar button {
  font-family: "Lato", sans-serif !important;
}

#queue-menu, #playlist-menu {
  display: none;
  width: 100%;
  height: 50px;
  padding: 0 5px;
  color: #ffffff;
  position: fixed;
  top: 85px;
  align-items: center;
  background-color: #151515;
}

#queue-menu button, #playlist-menu button {
  padding: 0 10px;
  margin: 0 5px;
  height: 35px;
  border: none;
  outline: none;
  background-color: rgba(255, 255, 255, 0.1);
  color: white;
  border-radius: 17.5px;
  cursor: pointer;
  font-family: "Lato", sans-serif !important;
  font-size: 11pt;
}

#queue-menu #queue-count {
  margin: 0 5px;
}

#queue-menu #queue-count::after {
  content: " songs in queue";
}

body.translucent #queue-menu, body.translucent #playlist-menu {
  background-color: rgba(0, 0, 0, 0.8);
}

input[type=text] {
  height: 30px;
  padding-left: 10px;
  border: none;
  outline: none;
  background-color: rgba(255, 255, 255, 0.1);;
  border-radius: 15px;
  color: #ffffff;
}

#search {
  height: 30px;
  width: 170px;
  margin-left: 5px;
  padding-left: 10px;
  border: none;
  outline: none;
  background-color: rgba(255, 255, 255, 0.1);;
  border-radius: 15px;
  color: #ffffff;
  font-family: "Lato", sans-serif !important;
}

#incorrect-plugin {
  flex-flow: row wrap;
  justify-content: center;
}

#filling-queue {
  position: realtive;
}

#filling-queue span {
  z-index: -1;
  position: absolute;
  left: 0;
  top: 135px;
  width: 0%;
  height: 100px;
  background-color: rgba(255, 255, 255, 0.2);
  transition: .2s;
}

#settings {
  margin: 0;
  margin-top: 85px;
  width: 100%;
  height: calc(100vh - 85px);
  padding: 10px;
  color: white;
  display: none;
}

#settings label.check input ~ .mark {
  display: inline-block;
  width: 30px;
  height: 30px;
  transform: translatex(-5px);
  border: none;
  outline: none;
  background-image: url(assets/unchecked-checkbox.png);
  background-size: cover;
}

#settings input[type=checkbox]:checked ~ span.mark {
  background-image: url(assets/checked-checkbox.png);
}

#settings input[type=checkbox] {
  display: none;
}

#settings button {
  width: 120px;
  height: 35px;
  border: none;
  outline: none;
  background-color: rgba(255, 255, 255, 0.1);
  color: white;
  border-radius: 17.5px;
  cursor: pointer;
  font-family: "Lato", sans-serif !important;
  font-size: 11pt;
}

#settings .check {
  display: inline-flex;
  align-items:  center;
  margin-left: 5px;
}

#settings label, #settings input {
  display: inline-block;
  margin: 10px 0;
}

#settings label.file-button {
  width: 120px;
  height: 35px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: none;
  outline: none;
  background-color: rgba(255, 255, 255, 0.1);
  color: white;
  border-radius: 17.5px;
  cursor: pointer;
  font-size: 11pt;
  margin-right: 10px;
}

#settings label.file-button:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

#settings input[type=file] {
  display: none;
}

#settings #file-text {
  display: inline;
  width: 500px;
}

#settings p {
  position: absolute;
  bottom: 0;
  color: rgba(255, 255, 255, 0.3);
  text-decoration: none;
  font-size: 10pt;
}

#settings a {
  color: rgba(255, 255, 255, 0.3);
}

#settings form#donate {
  position: absolute;
  bottom: 0;
  right: 10px;
  width: 200px;
  color: rgba(255, 255, 255, 0.5);
  text-align: center;
}

ul#song-list {
  list-style: none;
  margin: 0;
  margin-top: 85px;
  padding: 0;
  width: 100%;
  height: calc(100vh - 85px);
  overflow-y: scroll;
  border-radius: 0 0 5px 5px;
}

ul#song-list.queue-open {
  margin-top: 135px;
  height: calc(100vh - 135px);
}

ul#song-list::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 5px;
}

::-webkit-scrollbar {
  background-color: transparent;
  width: 10px;
}

ul#song-list li {
  background-color: rgba(0, 0, 0, 0.6);
  color: #ffffff;
  width: calc(100% - 10px);
  height: 100px;
  padding: 0 5px;
  margin: 0;
  display: flex;
  position: relative;
  transition: .5s;
  flex-flow: row wrap;
  overflow: hidden;
}

ul#song-list li:nth-child(odd) {
  background-color: rgba(0, 0, 0, 0.0);
}

ul#song-list li img {
  width: 80px;
  height: 80px;
  margin: 10px 10px;
  border-radius: 5px;
  position: relative;
}

ul#song-list li .cover {
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.8);
  position: absolute;
  width: 80px;
  height: 80px;
  margin: 10px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

ul#song-list li:hover .cover, .cover.hover {
  opacity: 1 !important;
}

.q-icon {
  background-size: 25px 25px;
  background-position: center;
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.playlist-add {
  background-image: url(assets/playlist-add.png);
}

.playlist-remove {
  background-image: url(assets/x.png);
  position: absolute;
  right: 50px
}

.playlist-remove:hover {
  background-image: url(assets/x-filled.png);
}

.favorite {
  background-image: url(assets/favorite.png);
}

.favorite:hover {
  background-image: url(assets/favorite-filled.png);
}

.favorited {
  background-image: url(assets/favorited.png) !important;
}

.i-queue {
  background-image: url(assets/queue1.png);
}

.i-queue[disabled] {
  background-image: url(assets/queue1.png) !important;
  opacity: 0.3;
  cursor: not-allowed;
}

.i-queue:hover {
  background-image: url(assets/queue1-filled.png);
}

.tooltip {
  display: none;
  position: absolute;
  z-index: 4 !important;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  padding: 20px;
  border-radius: 20px;
}

.i-queue:hover .i-queue-tooltip {
  display: fixed;
}


.i-unqueue {
  background-image: url(assets/unqueue1.png);
}

.i-unqueue:hover {
  background-image: url(assets/unqueue1-filled.png);
}

.play-preview {
  background-image: url(assets/play.png);
}

.play-preview:hover {
  background-image: url(assets/play-filled.png);
}

.preview-loading {
  background-image: url(assets/load.png) !important;
}

.loading {
  background-image: url(assets/load.png) !important;
}

.preview-playing {
  background-image: url(assets/pause.png) !important;
}

.preview-playing:hover {
  background-image: url(assets/pause-filled.png) !important;
}

.i-download {
  background-image: url(assets/download.png);
}

.i-download:hover {
  background-image: url(assets/download-filled.png);
}

.i-delete {
  background-image: url(assets/delete.png);
}

.i-delete:hover {
  background-image: url(assets/delete-filled.png);
}

.drag-handle {
  position: absolute;
  right: 10px;
  background-image: url(assets/drag.png);
}

.drag-handle:hover {
  background-image: url(assets/drag-filled.png);
}

.del-pl, .load-pl, .unload-pl, .download-pl {
  position: absolute;
  width: 50px;
  height: 100px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 40px;
  cursor: pointer;
}

.download-pl {
  right: 110px;
  background-image: url(assets/download.png)
}

.download-pl:hover {
  background-image: url(assets/download-filled.png)
}

.del-pl {
  right: 10px;
  background-image: url(assets/delete.png);
}

.del-pl:hover {
  background-image: url(assets/delete-filled.png);
}

.load-pl {
  right: 60px;
  background-image: url(assets/loadpl.png);
}

.load-pl:hover {
  background-image: url(assets/loadpl-filled.png);
}

.unload-pl {
  right: 60px;
  background-image: url(assets/unloadpl.png);
}

.unload-pl:hover {
  background-image: url(assets/unloadpl-filled.png);
}

.load-pl.disabled {
  opacity: 0.2;
  cursor: not-allowed !important;
}

.load-pl.disabled:hover {
  background-image: url(assets/loadpl.png);
}

ul#song-list li .song-details .song-title {
  font-size: 18pt;
  font-weight: 900;
  margin-top: 15px;
  margin-bottom: 0px;
  width: calc(100vw - 290px);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

ul#song-list li .song-details .song-author {
  font-size: 12pt;
  width: calc(100vw - 290px);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

ul#song-list li .song-details .uploader {
  font-size: 12pt;
  width: calc(100vw - 290px);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

ul#song-list li .song-details .uploader::before {
  content: "Uploaded by: ";
}

ul#song-list li .beatmap-details {
  position: absolute;
  width: 150px;
  top: 10px;
  left: calc(100vw - 180px);
  text-align: end;
}

ul#song-list li .beatmap-details .upvotes, .downloads, .plays {
  font-size: 12pt;
}

ul#song-list li .beatmap-details .downloads::after {
  content: " downloads"
}

ul#song-list li .beatmap-details .upvotes::after {
  content: " upvotes"
}

ul#song-list li .beatmap-details .plays::after {
  content: " finishes"
}

ul#song-list li .beatmap-details a {
  color: white;
}

ul#song-list li .rate {
  width: 50px;
  height: 100%;
  position: absolute;
  top: 0;
  left: calc(100vw - 70px);
  background-image: url(assets/star.png);
  background-size: 35px 35px;
  background-repeat: no-repeat;
  background-position: center center;
  cursor: pointer;
}

ul#song-list li .rate:hover {
  background-image: url(assets/star-filled.png);
}

ul#song-list li .more {
  width: 50px;
  height: 100%;
  position: absolute;
  left: calc(100vw - 60px);
  background-image: url(assets/more.png);
  background-size: 35px 35px;
  background-repeat: no-repeat;
  background-position: center center;
  cursor: pointer;
}

ul#song-list li .rate:hover {
  background-image: url(assets/star-filled.png);
}

ul#song-list li .menu {
  width: 100px;
  height: 100px;
  position: absolute;
  left: calc(100vw - 160px);
  display: none;
}

ul#song-list li .menu .delete {
  display: inline-block;
  width: 50px;
  height: 100%;
  background-size: 35px 35px;
  background-repeat: no-repeat;
  background-position: center center;
  cursor: pointer;
  background-image: url(assets/delete.png);
}

ul#song-list li .menu .download {
  display: inline-block;
  width: 50px;
  height: 100%;
  background-size: 35px 35px;
  background-repeat: no-repeat;
  background-position: center center;
  cursor: pointer;
  background-image: url(assets/download.png);
}

ul#song-list li .menu .queue {
  display: inline-block;
  width: 50px;
  height: 100%;
  background-size: 35px 35px;
  background-repeat: no-repeat;
  background-position: center center;
  cursor: pointer;
  background-image: url(assets/queue.png);
}

ul#song-list li .menu .unqueue {
  display: inline-block;
  width: 50px;
  height: 100%;
  background-size: 35px 35px;
  background-repeat: no-repeat;
  background-position: center center;
  cursor: pointer;
  background-image: url(assets/unqueue.png);
}

ul#song-list li .id {
  font-weight: 300;
  margin-left: 5px;
  opacity: 0.5;
  font-size: 10pt !important;
}

.info {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100px;
  color: #fff;
  display: none;
}

.spin {
  animation: 2s spin linear infinite;
}

.slate {
  position: absolute;
  list-style: none;
  margin: 0;
  top: 0;
  z-index: -1;
  margin-top: 85px;
  padding: 0;
  width: 100%;
  height: calc(100vh - 85px);
  overflow-y: scroll;
  border-radius: 0 0 5px 5px;
  background-color: #101010;
}

.slate.queue-open {
  margin-top: 135px;
  height: calc(100vh - 135px);
}

body.translucent .slate {
  background-color: rgba(0, 0, 0, 0.75);
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.progress-ring {
  display: none;
  position: absolute;
  left: calc(100vw - 120px);
  top: -5px;
  width: 100px;
  height: 100px;
  border: 5px solid white;
  border-radius: 50%;
  background: linear-gradient(to left, #2980b9 50%, white 0);
  transform: scale(.5);
  animation: .1s ease pop;
}

.inner-ring {
  content: "";
  display: block;
  margin-left: 50%;
  height: 100%;
  border-radius: 0 100% 100% 0 / 50%;
  background-color: #2980b9;
  transform-origin: left;
  transform: rotate(90deg);
}

.percent {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: -90px;
  left: 10px;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: white;
  font-size: 20pt;
  font-weight: bold;
  color: #2980b9;
}

.dldone {
  background-image: url(assets/check.png);
  width: 100%;
  height: 100%;
  background-size: 50px 50px;
  background-repeat: no-repeat;
  background-position: center;
  animation: check .6s forwards;
}

.dlfail {
  background-image: url(assets/fail.png);
  width: 100%;
  height: 100%;
  background-size: 50px 50px;
  background-repeat: no-repeat;
  background-position: center;
  animation: check .2s forwards;
}

.progress-ring.fail {
  background: linear-gradient(to left, #e74c3c 50%, white 0) !important;
}

.progress-ring.fail .inner-ring {
  background-color: #e74c3c !important;
}

ol.pl-songs {
  list-style: decimal !important;
  display: none;
  width: calc(100% - 150px);
  height: 180px;
  overflow-y: scroll;
  margin-left: 100px;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  padding-left: 25px;
  border-radius: 5px;
  margin-bottom: -10px;
  transform: translatey(-10px)
}

ol.pl-songs li {
  display: list-item !important;
  height: 40px !important;
  padding: 0;
  box-sizing: border-box;
}

ol.pl-songs li .pl-song {
  margin: 0;
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  padding-left: 10px;
  position: absolute;
  top: 0;
  left: 0;
}

ol.pl-songs li:nth-child(odd) {
  background-color: rgba(0, 0, 0, 0.2);
}

ol.pl-songs::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 5px;
}

#modal {
  width: 100vw;
  height: 100vh;
  border-radius: 5px;
  z-index: 100;
  position: absolute;
  top: 0;
  color: white;
  background-color: rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-open {
  filter: blur(5px);
  transition: .2s;
}

.modal-window {
  border-radius: 5px;
  z-index: 101;
  width: 700px;
  height: 70%;
  max-width: 700px;
  max-height: 400px;
  background-color: rgba(0, 0, 0, 0.8);
  animation: modal .2s ease-out forwards;
}

.modal-window.icon {
  width: 300px;
  height: 300px;
}

.modal-title {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  width: calc(100% - 10px);
  height: 30px;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  padding-left: 10px;
  margin: 0;
}

.modal-window.icon .modal-title {
  display: none;
}

.modal-body {
  height: calc(100% - 30px);
  padding: 10px;
}

#cover-image {
  display: none;
}

#new-playlist-container button {
  height: 35px;
  border: none;
  outline: none;
  background-color: rgba(255, 255, 255, 0.1);
  color: white;
  border-radius: 17.5px;
  cursor: pointer;
  font-family: "Lato", sans-serif !important;
  font-size: 11pt;
  width: calc(50% - 20px);
  margin: 10px;
}

#new-playlist-container button:hover {
  background-color: rgba(255, 255, 255, 0.15);
}

#new-playlist-container label {
  width: 100%;
  text-align: center;
  margin: 5px 0;
}

#new-playlist-container input[type=text] {
  width: 100%;
  margin: 5px 10px;
}

#add-image {
  width: 100px !important;
  height: 100px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 5px;
  cursor: pointer;
  background-image: url(assets/add.png);
  background-repeat: no-repeat;
  background-position: center;
}

#image-text {
  width: 100%;
  text-align: center;
  margin-bottom: 10px;
}

#add-image:hover {
  background-color: rgba(255, 255, 255, 0.3);
  background-image: url(assets/add-filled.png);
}

#image-upload {
  width: 100%;
  margin-right: 20px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

#new-playlist-container {
  display: flex;
  flex-flow: row wrap;
}

.modal-window.icon .modal-body {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.select-playlist {
  list-style: none;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-y: scroll;
}

.select-playlist li {
  cursor: pointer;
  width: calc(100% - 20px);
  height: 50px;
  padding: 10px;
  display: flex;
  flex-flow: row nowrap;
}

.select-playlist img {
  margin-right: 10px;
  width: 50px;
  height: 50px;
  border-radius: 5px;
}

.select-playlist li:nth-child(odd) {
  background-color: rgba(0, 0, 0, 0.7);
}

.select-playlist li:hover {
  background-color: rgba(255, 255, 255, 0.01);
}

#update-notif {
  width: 400px;
  height: 50px;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  position: absolute;
  bottom: 0;
  left: calc(50% - 200px);
  z-index: 999;
  display: none;
  animation: update-notif-in .5s ease forwards;
}

#update-notif a {
  text-decoration: none;
  color: white !important;
  font-weight: 700;
}

.hop-outer { 
  transition: .5s all;
}

.flex-br {
  width: 100%;
}

@keyframes check {
  from {
    width: 0;
  }
  to {
    width: 48px;
  }
}

@keyframes pop {
  from {
    transform: scale(0);
  }
}

@keyframes modal {
  from {
    opacity: 0;
    transform: translateY(200px) scale(1.5)
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
}

@keyframes update-notif-in {
  from {
    bottom: -50px;
  }
}

button:disabled {
  opacity: 0.5;
  cursor: not-allowed !important;
}