@keyframes fade-in {
  from {
    opacity: 0;
  }
}

@keyframes drop-in {
  from {
    opacity: 0;
    transform: translateY(-500px);
  }
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

@keyframes bounce {
  20%, 50%, 70%, 90% {transform: translateY(0);}
  40% {transform: translateY(-30px);}
  60% {transform: translateY(-15px);}
  80% {transform: translateY(-5px);}
}