@import './StyleConstants';

body {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif !important;
  color: black;
  overflow: hidden;
  background-color:#fff;
  cursor: default;
  user-select: none;
  transition-duration: .2s;
  transition-property: background;
}

::-webkit-scrollbar {
  background-color: transparent;
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: $theme-light-line-color;
}

.text-box {
  border: none;
  outline: none;
  min-width: 250px;
  height: 40px;
  background-color: #eaeaea;
  padding: 0 15px;
  border-radius: 5px;
  margin-top: 5px;
  font-family: inherit;
  font-size: 11pt;
  font-weight: 500;
}

.text-area {
  border: none;
  outline: none;
  background-color: #eaeaea;
  padding: 15px;
  border-radius: 5px;
  margin-top: 5px;
  font-family: inherit;
  font-size: 11pt;
  font-weight: 500;
}

.flex-br {
  height: 0;
  width: 100%;
}

a {
  color: $theme-light-link-color;
}

select {
  height: 40px;
  border: none;
  outline: none;
  padding: 10px;
  margin-right: 10px;
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.1);
  cursor: pointer;
  font-family: "Lato", sans-serif;
  font-size: 11pt;
  transform: translateY(1px);

  &:hover {
    background: rgba(0, 0, 0, 0.2);
  }
}

hr {
  border: 1px solid $theme-light-line-color;
  width: calc(100% - 80px);
  margin-right: 80px;
  margin-top: 20px;
}

.view {
  height: 100%;
  overflow-y: scroll;

  padding: 0 50px;

  h1 {
    margin-top: 30px;
    margin-bottom: 10px;
    font-size: 32pt;
  }
}

.hidden {
  display: none !important;
}

.react-contextmenu-wrapper {
  display: inline;
}

.react-contextmenu {
  background-color: rgba(255, 255, 255, 0.9);
  background-clip: padding-box;
  color: #373a3c;
  font-size: 16px;
  margin: 2px 0 0;
  min-width: 160px;
  outline: none;
  opacity: 0;
  padding: 5px 0;
  pointer-events: none;
  text-align: left;
  transition: opacity 250ms ease !important;
  filter: drop-shadow(2px 2px 3px rgba(0,0,0,0.25));
}

.react-contextmenu.react-contextmenu--visible {
  opacity: 1;
  pointer-events: auto;
  z-index: 9999;
}

.react-contextmenu-item {
  background: 0 0;
  border: 0;
  cursor: pointer;
  font-weight: 400;
  line-height: 1.5;
  padding: 3px 20px;
  text-align: inherit;
  white-space: nowrap;
  outline: none;
}

.react-contextmenu-item.react-contextmenu-item--active,
.react-contextmenu-item.react-contextmenu-item--selected {
  color: #fff;
  background-color: $beatdrop-blue;
  border-color: $beatdrop-blue;
  text-decoration: none;
}

.react-contextmenu-item.react-contextmenu-item--disabled,
.react-contextmenu-item.react-contextmenu-item--disabled:hover {
  background-color: transparent;
  border-color: rgba(0,0,0,.15);
  color: #878a8c;
}

.react-contextmenu-item--divider {
  border-bottom: 1px solid rgba(0,0,0,.15);
  cursor: inherit;
  margin-bottom: 3px;
  padding: 2px 0;
}

.react-contextmenu-item.react-contextmenu-submenu {
  padding: 0;
}

.react-contextmenu-item.react-contextmenu-submenu > .react-contextmenu-item:after {
  content: "▶";
  display: inline-block;
  position: absolute;
  right: 7px;
}

.example-multiple-targets::after {
  content: attr(data-count);
  display: block;
}

.theme-dark {
  a {
    color: $theme-dark-link-color;
  }

  hr {
    border: 1px solid $theme-dark-line-color;
  }

  select {
    background: rgba(255, 255, 255, 0.35);
    color: white;

    :not(:nth-child(0)) {
      color: black;
    }
  
    &:hover {
      background: rgba(255, 255, 255, 0.4);
    }
  }
  .react-contextmenu {
    background-color: rgba(37, 37, 37, 0.9);
    color: white;
  }

  .react-contextmenu-item--divider {
    border-bottom: 1px solid rgba(255, 255, 255, .15);
    cursor: inherit;
    margin-bottom: 3px;
    padding: 2px 0;
  }

  ::-webkit-scrollbar-thumb {
    background-color: $theme-dark-line-color;
  }
}

.theme-hc {
  a {
    color: $theme-hc-link-color;
  }

  hr {
    border: 1px solid $theme-hc-line-color;
  }

  select {
    background: white;
    color: black;
  
    &:hover {
      background: rgba(255, 255, 255, 0.9);
    }
  }

  .react-contextmenu {
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
    border: 1px solid white;
  }

  .react-contextmenu-item--divider {
    border-bottom: 1px solid white;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: $theme-hc-line-color;
  }

  .react-contextmenu-item.react-contextmenu-item--active,
  .react-contextmenu-item.react-contextmenu-item--selected {
    color: #fff;
    background-color: $theme-hc-accent-color;
    border-color: $theme-hc-accent-color;
  }
}

@keyframes dialog-fade-in {
  from {
    background: rgba(0, 0, 0, 0.0);
  }
}