.cover-flow-item {
  transform-style: preserve-3d;
}

.cover-flow-item img {
  width: 150px;
  height: 150px;
  min-width: 100px;
  min-height: 100px;
  border-radius: 5px;
  background: linear-gradient(45deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.1));
  background-size: 400px;
  background-position: -200px -200px;
  animation: pulse 1s alternate infinite;
}

.cover-flow-item:last-child {
  margin-bottom: 40px;
  margin-right: 40px;;
}

@keyframes pulse {
  to {
    background-position: 0px -200px;
  }
}