#download-queue {
  position: absolute;
  bottom: 60px;
  left: 80px;
  border-radius: 10px;
  width: 30vw;
  height: 70vh;
  background-color: white;
  box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.5);
  overflow: hidden;
}

#queue-toolbar {
  height: 48px;
  border-bottom: 1px solid silver;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

#clear-queue-button {
  width: 40px;
  height: 50px;
  background-size: 25px 25px;
  background-repeat: no-repeat;
  background-image: url(../assets/clear-queue.png);
  background-position: center center;
  cursor: pointer;
  transition: transform .5s;
}

#download-queue ul {
  list-style: none;
  margin: 0;
  padding: 10px;
  height: calc(100% - 59px);
  overflow: scroll;
}