@import url("https://fonts.googleapis.com/css?family=Montserrat:700");

@font-face {
  font-family: "Lato";
  src: url("../assets/fonts/Lato/Lato-Light.ttf");
  font-weight: 200;
}

@font-face {
  font-family: "Lato";
  src: url("../assets/fonts/Lato/Lato-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "Lato";
  src: url("../assets/fonts/Lato/Lato-Bold.ttf");
  font-weight: 700;
}

@font-face {
  font-family: "Lato";
  src: url("../assets/fonts/Lato/Lato-Black.ttf");
  font-weight: 900;
}