#queue-button {
  width: 40px;
  height: 50px;
  background-size: 25px 25px;
  background-repeat: no-repeat;
  background-image: url(../assets/dl-queue.png);
  background-position: center center;
  cursor: pointer;
  transition: transform .5s;
}

.theme-dark #queue-button {
  background-image: url(../assets/dark/dl-queue.png);
}

#queue-button.notify {
  animation: queue-button-notify .5s ease 0s 2 alternate;
}

@keyframes queue-button-notify {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.3);
    opacity: 0.5;
  }
}