.search-box {
  height: 30px;
  width: 170px;
  margin-left: 5px;
  padding-left: 10px;
  border: none;
  outline: none;
  background-color: rgba(128, 128, 128, 0.2);
  border-radius: 15px;
  color: #ffffff !important;
  font-family: "Lato", sans-serif !important;
  margin-left: auto;
  margin-right: 10px;
  transition: width .2s ease;
}

.search-box:hover, .search-box:focus {
  background-color: rgba(128, 128, 128, 0.3);
}

.search-box:focus {
  width: 250px;
}