.search-button {
  width: 40px;
  height: 50px;
  background-size: 25px 25px;
  background-repeat: no-repeat;
  background-image: url(../assets/search.png);
  background-position: center center;
  cursor: pointer;
}

.theme-dark .search-button {
  background-image: url(../assets/dark/search.png);
}

.search-button:hover {
  background-image: url(../assets/search-filled.png);
}

.theme-dark .search-button:hover {
  background-image: url(../assets/dark/search-filled.png);
}