.settings-button {
  width: 40px;
  height: 50px;
  background-size: 25px 25px;
  background-repeat: no-repeat;
  background-image: url(../assets/settings.png);
  background-position: center center;
  cursor: pointer;
}

.theme-dark .settings-button {
  background-image: url(../assets/dark/settings.png);
}

.settings-button:hover {
  background-image: url(../assets/settings-filled.png);
}

.theme-dark .settings-button:hover {
  background-image: url(../assets/dark/settings-filled.png);
}

.settings-button.open {
  background-image: url(../assets/settings-filled.png);
  animation: settings-button-spin 10s linear forwards infinite;
}

.theme-dark .settings-button.open {
  background-image: url(../assets/dark/settings-filled.png);
}

@keyframes settings-button-spin {
  to {
    transform: rotate(360deg);
  }
}