#sidebar {
  width: 195px;
  background-color: rgba(0, 0, 0, 0.2);
  padding: 15px;
  overflow: hidden;
  transition: .3s ease-out;
}

body.dark #sidebar {
  background-color: rgba(255, 255, 255, 0.2);
  color: white;
}

#sidebar.collapsed {
  width: 30px;
}

#sidebar.collapsed .resize-sidebar {
  background-image: url('../assets/sidebar-expand.png');
}

.theme-dark #sidebar.collapsed .resize-sidebar {
  background-image: url('../assets/dark/sidebar-expand.png');
}

#sidebar.collapsed .resize-sidebar:hover {
  background-image: url('../assets/sidebar-expand-filled.png');
}

.theme-dark #sidebar.collapsed .resize-sidebar:hover {
  background-image: url('../assets/dark/sidebar-expand-filled.png');
}

#sidebar .resize-sidebar {
  display: block;
  width: 30px;
  height: 30px;
  background-image: url('../assets/sidebar-collapse.png');
  background-size: 30px;
  cursor: pointer;
}

.theme-dark #sidebar .resize-sidebar {
  background-image: url('../assets/dark/sidebar-collapse.png');
}

#sidebar .buttons-bottom {
  display: flex;
  flex-flow: row wrap;
  position: absolute;
  bottom: 15px;
  width: inherit;
}

#sidebar .buttons-bottom div {
  width: 30px;
  height: 30px;
  background-size: 30px;
  cursor: pointer;
  padding-right: 5px;
  padding-top: 5px;
}

#sidebar .resize-sidebar:hover {
  background-image: url('../assets/sidebar-collapse-filled.png')
}

.theme-dark #sidebar .resize-sidebar:hover {
  background-image: url('../assets/dark/sidebar-collapse-filled.png')
}

#sidebar.collapsed h5, #sidebar.collapsed ul {
  display: none;
}

#sidebar h5 {
  margin-bottom: 10px;
}

#sidebar ul {
  list-style: none;
  transform: translateX(-25px);
}

#sidebar li {
  margin: 5px 0;
  cursor: pointer;
}

#sidebar li.selected {
  font-weight: bold;
  color: #2a4da3;
}

#sidebar li:hover {
  font-weight: bold;
}

#sidebar li::before {
  content: '';
  display: inline-block;
  width: 25px;
  height: 25px;
  transform: translate(-5px, 7px);
  background-size: 25px;
}

#sidebar li.fetch-new-songs::before, #sidebar li.fetch-new-reviews::before {
  background-image: url('../assets/new.png');
}

.theme-dark #sidebar li.fetch-new-songs::before, #sidebar li.fetch-new-reviews::before {
  background-image: url('../assets/dark/new.png');
}

#sidebar li.fetch-featured-playlists::before, #sidebar li.fetch-local-playlists::before {
  background-image: url('../assets/playlist.png');
}

.theme-dark #sidebar li.fetch-featured-playlists::before, .theme-dark #sidebar li.fetch-local-playlists::before {
  background-image: url('../assets/dark/playlist.png');
}

#sidebar li.fetch-top-finished::before {
  background-image: url('../assets/finish.png');
}

.theme-dark #sidebar li.fetch-top-finished::before {
  background-image: url('../assets/dark/finish.png');
}

#sidebar li.fetch-top-downloaded::before {
  background-image: url('../assets/download-li-filled.png');
}

.theme-dark #sidebar li.fetch-top-downloaded::before {
  background-image: url('../assets/download-filled.png');
}

#sidebar li.fetch-featured-songs::before, #sidebar li.fetch-local-songs::before {
  background-image: url('../assets/song.png');
}

.theme-dark #sidebar li.fetch-featured-songs::before, .theme-dark #sidebar li.fetch-local-songs::before {
  background-image: url('../assets/dark/song.png');
}