#song-details {
  display: flex;
  flex-flow: row nowrap;
  padding: 15px;
  height: calc(100vh - 85px);
  animation: song-details-fade-in .2s forwards;
}

#song-details .cover-image {
  width: 15vw;
  height: 15vw;
  filter: drop-shadow(2px 2px 3px rgba(0,0,0,0.25));
  border-radius: 5px;
}

#song-details.loading .cover-image {
  display: block;
  background-color: silver;
  width: 150px;
  height: 150px;
}

#song-details .close-icon {
  cursor: pointer;
  position: absolute;
  transform: translateX(calc(100vw - 280px));
  width: 25px;
  height: 25px;
  background: url(../assets/close.png);
  background-size: 25px;
}

.sidebar-collapsed #song-details .close-icon {
  transform: translateX(calc(100vw - 120px));
}

.theme-dark #song-details .close-icon {
  background: url(../assets/dark/close.png);
  background-size: 25px;
}

#song-details .details-info {
  margin: 10px 20px;
}

#song-details .details-title {
  display: inline-block;
  font-size: 20pt;
  font-weight: 900;
  margin-top: 3px;
  margin-bottom: -3px;
  max-width: calc(62vw - 300px);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.view-right.sidebar-collapsed #song-details .details-title {
  max-width: calc(70vw - 250px);
}

#song-details.loading .details-title {
  display: inline-block;
  height: 30px;
  width: 30vw;
  background-color: silver;
}

#song-details.loading .details-subtitle {
  height: 15px;
  width: 15vw;
  background-color: silver;
}

#song-details .details-artist {
  font-size: 14pt;
  opacity: 0.8;
}

#song-details.loading .details-artist {
  height: 20px;
  width: 15vw;
  background-color: silver;
  margin-top: 5px;
}

#song-details .details-description {
  margin-bottom: 10px;
  max-width: 30vw;
  max-height: 20vh;
  overflow-y: scroll;
}

#song-details .details-uploader {
  margin-bottom: 10px;
}

#song-details .details-difficulties {
  margin-top: 5px;
  margin-bottom: 10px;
}

#song-details .details-ratings {
  position: absolute;
  right: 6vw;
  display: flex;
  align-items: flex-start;
  width: 200px;
  flex-flow: row wrap;
}

#song-details .action-buttons {
  margin: 15px 0;
}

#song-details .action-buttons .action-button {
  margin: 0 3px;
  padding: 5px 10px;
  border-radius: 20px;
  font-size: 8pt;
  font-weight: 900;
  color: white;
  background-color: rgba(42, 77, 163, 0.8);
  cursor: pointer;
  display: inline-flex;
  align-items: center;
}

#song-details .action-buttons .action-button:hover {
  background: rgb(42, 77, 163);
}

#song-details .song-in-library {
  font-weight: bold;
  color: rgb(42, 77, 163);
  margin-top: 5px;
}

#song-details .action-buttons .action-button.download-button {
  padding: 2px 7px;
  width: 90px;
  background: rgba(42, 77, 163, 0.3);
  border: 3px solid rgba(42, 77, 163, 0.8);
  display: inline-flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  position: relative;
  margin-top: -1px;
}

#song-details .action-buttons .action-button.download-button:hover {
  border: 3px solid rgb(42, 77, 163);
}

#song-details .action-buttons .action-button.download-button:hover span:first-child {
  background: rgb(42, 77, 163);
}

#song-details .action-buttons .action-button.download-button span:first-child {
  display: inline-block;
  position: absolute;
  left: -1px;
  top: -1px;
  height: 110%;
  background: rgba(42, 77, 163, 0.8);
  z-index: -1;
  border-radius: 10px;
}

#song-details .action-buttons .action-button:not(.more-button) img {
  width: 15px;
  height: 15px;
  margin-right: 5px;
}

#song-details.loading .action-button {
  opacity: 0.4;
  cursor: not-allowed;
}

#song-details .action-buttons .action-button.playlist-add-button {
  width: 110px;
}

#song-details .action-buttons .action-button.disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

#song-details .action-buttons .action-button.disabled:hover {
  background: rgb(42, 77, 163);
}

#song-details .action-buttons .action-button.more-button img {
  width: 15px;
  height: 15px;
}

#song-details.loading .details-description {
  background-color: silver;
  width: 30vw;
  height: 16.8vw;
}

#song-details #preview {
  width: 350px;
  margin-top: 5px;
}

#song-details #preview:not([src]) {
  opacity: 0.8;
  animation: song-details-loading-mask .7s alternate infinite;
}

#playlist-picker {
  position: absolute;
  top: 35px;
  left: 0;
  width: 100%;
  height: calc(100% - 35px);
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
  animation: playlist-picker-fade-in .2s forwards;
}

#playlist-picker-inner {
  background: white;
  width: 575px;
  height: 500px;
  max-width: 575px;
  max-height: 500px;
  border-radius: 5px;
  padding: 10px;
  opacity: 1;
  animation: playlist-picker-drop-in .2s forwards;
}

.theme-dark #playlist-picker-inner {
  background: #303030;
  color: white;
}

#playlist-picker h1 {
  margin-left: 25px;
  display: inline-block;
}

#playlist-picker .button {
  float: right;
  margin-top: 25px;
  margin-right: 25px;
}

#playlist-picker #playlist-picker-table {
  display: flex;
  flex-flow: row wrap;
}

.playlist-picker-item {
  width: calc(50% - 30px);
  list-style: none;
  display: flex;
  align-items: flex-start;
  padding: 10px;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  margin: 5px;
  cursor: pointer;
  transition: 0.2s;
  font-size: 11pt;
}

.playlist-picker-item:hover {
  background: rgba(0, 0, 0, 0.2);
}

.playlist-picker-item img {
  width: 50px;
  height: 50px;
  border-radius: 5px;
  margin-right: 10px;
  box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.25);
  background: silver;
}

.playlist-picker-item .playlist-picker-item-title, .playlist-picker-item .playlist-picker-item-author {
  white-space: nowrap;
  width: 195px;
  overflow: hidden;
  text-overflow: ellipsis
}

.playlist-picker-item .playlist-picker-item-title {
  font-weight: bold;
}

#new-playlist-dialog {
  display: flex;
  flex-flow: row nowrap;
  position: absolute;
  top: calc(50% - 245px);
  left: calc(50% - 420px);
  width: 800px;
  height: 450px;
  background: white;
  padding: 20px;
  transform-origin: 0 0;
  animation: new-playlist-drop-in .2s forwards ease-out;
}

.theme-dark #new-playlist-dialog {
  background: #303030;
}

#new-playlist-cover-image {
  display: none;
}

#new-playlist-add-cover-image {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 32pt;
  font-weight: bold;
  color: white;
  width: 200px;
  height: 200px;
  margin-bottom: 5px;
  background:  silver;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.25);
  overflow: hidden;
}

#new-playlist-add-cover-image img {
  width: 200px;
  height: 200px;
}

#new-playlist-info {
  margin-top: 30px;
  margin-left: 30px;
}

#new-playlist-dialog label {
  display: block;
  margin-right: 5px;
  font-weight: bold;
}

@keyframes playlist-picker-fade-in {
  from {
    background: rgba(0, 0, 0, 0);
  }
}

@keyframes playlist-picker-drop-in {
  from {
    opacity: 0.0;
    transform: translateY(-500px);
  }
}

@keyframes song-details-fade-in {
  from {
    opacity: 0;
  }
}

@keyframes song-details-loading-mask {
  to {
    opacity: 0.2;
  }
}