.sort-group {
  margin: 0 10px;
  height: 30px;
}

.sort-group :first-child {
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.sort-group :last-child {
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}