.text-box {
  border: none;
  outline: none;
  min-width: 250px;
  height: 40px;
  background-color: #fff;
  padding: 0 15px;
  border-radius: 20px;
  margin-top: 5px;
  font-family: inherit;
  font-size: 11pt;
}