@import './StyleConstants';

#view-switcher {
  list-style: none;
  margin: 0;
  margin-top: 35px;
  padding: 0;
  width: 100%;
  height: calc(100vh - 35px);
  overflow: hidden;
  display: flex;
  flex-flow: row wrap;

  &.theme-dark {
    color: $theme-dark-text-color;
  }

  &.theme-hc {
    color: $theme-hc-text-color
  }
}

.view-right {
  width: calc(100% - 225px);
  transition: .3s ease-out;

  &.sidebar-collapsed {
    width: calc(100% - 60px);
  }
}

.warnings {
  width: inherit;
  position: absolute;
  top: 0;
}