#welcome-page {
  height: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: center;
}

#welcome-page img {
  width: 200px;
  height: 200px;
}

#welcome-page h1 {
  width: 100%;
  text-align: center;
}

#welcome-page .flex-br {
  height: 10px;
}

#welcome-page .button {
  width: 100px;
}